@import './colors.styl';

app-width = 600px;
horiz-padding = 20px;
vert-padding = 8px;
section-spacing = 32px;
med-text-size = 24px;
app-vert-margin = horiz-padding * 1.5;
lg-text-size = med-text-size * 2;
sm-text-size = med-text-size * 0.75;
box-size = med-text-size * 2;
core-font = 'Lato', sans-serif;
emph-font = 'Rokkitt', sans-serif;
mono-font = 'Space Mono', monospace;
light-shadow = 0px 0px 4px black;
deep-shadow = 0px 2px 8px rgba(0, 0, 0, 0.3);

dim-white() {
  color: white;
  opacity: 0.7;
}

full-width() {
  margin-left: -1 * horiz-padding;
  margin-right: -1 * horiz-padding;
}

pad-width-inside() {
  padding-left: horiz-padding;
  padding-right: horiz-padding;
}

full-width-padded() {
  full-width();
  pad-width-inside();
}

pad-vert() {
  padding-top: vert-padding;
  padding-bottom: vert-padding;
}
