box-size = 50px;
big-text-size = 28px;
core-font = 'Lato', sans-serif;
emph-font = 'Rokkitt', sans-serif;
// https://flatuicolors.com/palette/se
dark-periwinkle = #575fcf;
free-speech-blue = #3c40c6;
minty-green = #0be881;
green-teal = #05c46b;
megaman = #4bcffa;
spiro-disco-ball = #0fbcf9;
