@import './colors.styl';

horiz-padding = 20px;
vert-padding = 8px;
box-size = 50px;
big-text-size = 28px;
core-font = 'Lato', sans-serif;
emph-font = 'Rokkitt', sans-serif;

full-width() {
  margin-left: -1 * horiz-padding;
  margin-right: -1 * horiz-padding;
}

pad-width-inside() {
  padding-left: horiz-padding;
  padding-right: horiz-padding;
}

full-width-padded() {
  full-width();
  pad-width-inside();
}

pad-vert() {
  padding-top: vert-padding;
  padding-bottom: vert-padding;
}
